<ion-view view-title="DELETE Requests">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h3>Delete Request</h3>
      </div>
      <div class="item item-text-wrap">

      </div>
    </div>
  </ion-content>
</ion-view>
