<ion-view view-title="POST Requests">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h3>Post Request</h3>
      </div>
      <div class="item item-text-wrap">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Username</span>
            <input type="text" ng-model="daUser.username" placeholder="John">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="daUser.password" placeholder="Password">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="daUser.email" placeholder="john@doe.com">
          </label>
        </div>
        <button class="button button-block button-balanced" ng-click="postUser()">Crear Usuario</button>
      </div>
    </div>
    <div class="card">
        <div class="item item-divider">
          <h3>Source</h3>
        </div>
        <pre class="language-markup">
          <code class="language-markup">
            $scope.daUser = { id:null, username: null, password: null, email: null };
            $scope.postUser = function(){

              var data = {
                id:null,
                username: $scope.daUser.username,
                password: $scope.daUser.password,
                email: $scope.daUser.email
              };
              $http({
                url:"http://localhost/UMobile/services/Users/?key=q6qoqZ2jmpyq",
                method: "POST",
                data: serializer.prepareData(data),
                headers: {
                  'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
              }).then(function(response) {
                console.log(response.data);
              });

            };
          </code>
        </pre>
    </div>
  </ion-content>
</ion-view>
