<ion-view view-title="Search">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h3>Get Request</h3>
      </div>
      <div class="card">
        <div class="item item-divider">
          <h3>Suma</h3>
        </div>
        <div class="item item-text-wrap">
            <label class="item item-input">
              <input type="number" ng-model="sum.a" placeholder="a">
              <input type="number" ng-model="sum.b" placeholder="b">
            </label>
            <label class="item">
              <button class="button button-block button-positive" ng-click="sumar()">Sumar</button>
            </label>
            <label>
              Respuesta: <div>{{resultado}}</div>
            </label>
          </div>
        </div>
    </div>
    <div class="card">
    <div class="item item-divider">
      <h3>Usuarios</h3>
    </div>
    <div class="item item-text-wrap">
      <div class="list list-inset">
        <label class="item">
          <button class="button button-block button-calm" ng-click="getUsers()">Get All</button>
        </label>
        <label>
          Usuarios:
          <div ng-repeat="user in users">
            <div class="list">
              <a class="item item-avatar" href="#">
                <img src="http://fast1.onesite.com/capcom-unity.com/user/jgonzo/bbfc7cb6534f3a605917742eca8704c4.png?v=57600">
                <h2>{{user.username}}</h2>
                <p>{{user.email}}</p>
              </a>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
  </div>

    <div class="card">
      <div class="item item-divider">
        <h3>Post Request</h3>
      </div>
      <div class="item item-text-wrap">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Username</span>
            <input type="text" ng-model="daUser.username" placeholder="John">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="daUser.password" placeholder="Password">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="daUser.email" placeholder="john@doe.com">
          </label>
        </div>
        <button class="button button-block button-balanced" ng-click="postUser()">Crear Usuario</button>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <h3>Put Request</h3>
      </div>
      <div class="item item-text-wrap">

      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <h3>Delete Request</h3>
      </div>
      <div class="item item-text-wrap">

      </div>
    </div>
  </ion-content>
</ion-view>
